:root {
    --fondo: #282B34;
    --acento-1: #0094C5;
    --acento-2: #C63894;
    --primario: #FBB318;
    --fondo-2: #16181D;
    --white: #ffffff;
    --light-contrast: #8F92A3;
    --gradiente-1: linear-gradient(to top, #16181D, transparent);
    --gradiente-2: linear-gradient(to top , #16181D, #000000);
}


